
  
  .row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column1 {
    width: 275px;
  
    margin-left: -849px;
    margin-top: 330px;
  }
  
  
  .column {
    float: left;
    width: 259px;
  
    margin-left: -849px;
    margin-top: 76px;
  }
  
 
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 10px;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:nth-child(odd) {
    background-color: #06d6ddcb;
  }
tr:hover {background-color: coral;}