.divs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container1 {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    padding: 40px;
  }
  .container3 {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    padding: 40px;
    margin-left: 512px;
    margin-top: 104px;
  }
  .big22 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-label1 {
    color: #333;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .btn {
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .btn-outline-primary {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .btn-outline-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-outline-danger {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
  }
  
  .btn-outline-danger:hover {
    background-color: #a71d2a;
    border-color: #a71d2a;
  }
  